Follow me:
<div id="stalker">
  {% if site.social.github %}
    <a title="{{ site.social.github }} on Github" href="http://github.com/{{ site.social.github }}">
      <i class="icon-github-sign"></i>
    </a>
  {% endif %}

  {% if site.social.twitter %}
    <a title="{{ site.social.twitter }} on Twitter" href="http://twitter.com/{{ site.social.twitter }}">
      <i class="icon-twitter-sign"></i>
    </a>
  {% endif %}

  {% if site.social.linkedin %}
    <a title="{{ site.social.linkedin }} on LinkedIn" href="http://www.linkedin.com/in/{{site.social.linkedin}}">
      <i class="icon-sign-blank"></i>
      <span class="icon-overlay icon-linkedin"></span>
    </a>
  {% endif %}

  <a title="RSS feed" id="rss" href="/atom.xml">
    <i class="icon-rss-sign"></i>
  </a>
</div>
